# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Cache
cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store
